.custom-pagination .swiper-pagination-bullet {
  background: #94a3b8;
  opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: oklch(79.5% 0.184 86.047);
  width: 28px;
  border-radius: 20px;
}